<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>不限</string>
		<key>id</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>初中及以下</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>中专/中技</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>高中</string>
		<key>id</key>
		<string>3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大专</string>
		<key>id</key>
		<string>4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>本科</string>
		<key>id</key>
		<string>5</string>
	</dict>
	<dict>
		<key>title</key>
		<string>硕士</string>
		<key>id</key>
		<string>6</string>
	</dict>
	<dict>
		<key>title</key>
		<string>博士</string>
		<key>id</key>
		<string>7</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其他</string>
		<key>id</key>
		<string>8</string>
	</dict>
</array>
</plist>
